
<div class="container" style="text-align:center;">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <% @reviews.each do |review| %>
  <p><strong><%= review.rating %></strong></p>
  <p><%= review.content %></p>
  <% end %>

  <%= link_to("Add review", new_restaurant_review_path(@restaurant)) %>
  <%= link_to("Edit", edit_restaurant_path) %>
  <%= link_to("Back", restaurants_path) %>
  <%= link_to "Delete", restaurant_path(@restaurant),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
</div>
